.Component-button {
  display: inline-flex;
  width: 25%;
  flex: 1 0 auto;
}

.Component-button.wide {
  width: 50%;
}

.Component-button button {
  background-color: #e7a644;
  border: 0;
  font-size: 1.5rem;
  margin: 0 1px 0 0;
  flex: 1 0 auto;
  padding: 0;
}

.Component-button:last-child button {
  margin-right: 0;
}

.Component-button.orange button {
  background-color: #e0e0e0;
  color: white;
}
